@import 'var';
@import 'mixins';

* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background: $mainBg;
    @include deadCenter;

    h2 {
        height: 10%;
        width: 100%;
        font-family: $headerFont;
        @include deadCenter;
    }

    img {
        width: ($fullWidth / 3);
        height: ($fullWidth - 10%) / 2;
        opacity: .7;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}